$color_negro:#333333;
$color_plomo:#BEBEBE;
$color_amarillo:#FED136;
$color_blanco:#fff;
$color-texto:#7E7877;
$color_plomoclaro:#F7F7F7;

// services
.services h5{
	margin-top: 25px;
}
.services p{
	margin-top: 15px;
	color: $color_texto;
}
.services i.fa{
	border-radius: 100%;
	padding: 20px;
	background-color: $color_amarillo;
	font-size: 50px;
	color: $color_blanco;
	margin-top: 40px;
	width: 95px;
}
 // inicio our amazing team
 .fondo-team{
 	background-color: $color_plomoclaro;
 	padding-top: 55px;
 	padding-bottom: 100px;
 }
 .team img{
 	border-radius: 100%;
 	padding: 5px;
 	background-color: $color_blanco;
 	width: 150px;
 }
 .icons-team i{
 	padding: 5px;
 	position: relative;
 	font-size: 15px;
 	background-color: $color_negro;
 	color: $color_blanco;
 	border-radius: 100%;
 	margin:0 10px;
 	width: 25px;
 }
 .text-team p{
 	margin-top: 50px;
 }
 .logos{
 	margin-top: 30px;
 	margin-bottom: 30px;
 }
 .logos img{
 	margin-right: 15px;
 }
 // fin our amazing team
// portfolio
 .fondo-portfolio{
 	background-color: #F0F0F0;
 }
 .portafolio{
 	padding-top:5%;
 	padding-bottom:5%;
 }
 .fondo-portfolio {
 	.thumbnail{padding: 0;
 		img{width:100%}}
 }

