doctype html
html(lang="en")
	head
		title jade
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="assets/css/main.css")
		link(rel="stylesheet", href="assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/font-awesome/css/font-awesome.css")
		script(src="js/jquery-1.12.3.min.js")
		script(src="js/bootstrap.min.js")
	body
		script(src="assets/js/jquery-1.12.3.min.js")
		script(src="assets/js/bootstrap.min.js")
	body
		#hero-section
		link(rel="stylesheet", href="assets/css/._font-awesome.css")
			
		script(src="assets/js/jquery-1.12.3.min.js")
		script(src="assets/js/bootstrap.min.js")
	body
		#services
		.fondo-portfolio
			#portafolio.container.text-center.portafolio
				h2
					b PORTFOLIO
				p  
					em Lorem ipsum dolor sit amet consectetur,
				.row
					.col-sm-6.col-md-4
						.thumbnail
							img(src="img/portfolio/roundicons.png") 
							.caption
								h5
									b Round Icons 
								small
									em Graphic Desing
					.col-sm-6.col-md-4
						.thumbnail
							img(src="img/portfolio/startup-framework.png") 
							.caption
								h5 
									b Startup Framework 
								small
									em Website Desing
					.col-sm-6.col-md-4
						.thumbnail
							img(src="img/portfolio/treehouse.png") 
							.caption
								h5 
									b Treehouse 
								small
									em Website Desing
				.row
					.col-sm-6.col-md-4
						.thumbnail
							img(src="img/portfolio/golden.png") 
							.caption
								h5 
									b Golden 
								small
									em Website Desing
					.col-sm-6.col-md-4
						.thumbnail
							img(src="img/portfolio/escape.png") 
							.caption
								h5 
									b Escape 
								small
									em Website Desing
					.col-sm-6.col-md-4
						.thumbnail
							img(src="img/portfolio/dreams.png") 
							.caption
								h5 
									b Dreams
								small
									em Website Desin

		#about
			h1 ABOUT
			P Lorem
			.container
				.row
					.col-sm-5
					.col-sm-2
					.col-sam-5
		#amazing-team
			.container.fondo-team
				h2.text-center OUR AMAZING TEAM
				p.text-center <em>Lorem ipsum dolor sit amet</em>
				<center>
				.row.team
					.col-md-4.icons-team
						img(src="img/team/1.jpg")
						h5<strong>Kay Garland</strong>
						h6 Lead Designer
						i.fa.fa-twitter
						i.fa.fa-facebook
						i.fa.fa-linkedin
					.col-md-4.icons-team
						img(src="img/team/2.jpg")
						h5<strong>Larry Parker</strong>
						h6 Lead Marketer
						i.fa.fa-twitter
						i.fa.fa-facebook
						i.fa.fa-linkedin
					.col-md-4.icons-team
						img(src="img/team/3.jpg")
						h5<strong>Diana Pertersen</strong>
						h6 Lead Developer
						i.fa.fa-twitter
						i.fa.fa-facebook
						i.fa.fa-linkedin
				.row.text-team
					p.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore<br>magna sed do eiusmod tempor incididunt ut labore et dolore magna
				</center>
			.row.logos
				<center>
				img(src="img/logos/envato.jpg")
				img(src="img/logos/designmodo.jpg")
				img(src="img/logos/themeforest.jpg")
				img(src="img/logos/creative-market.jpg")
				</center>

		#contact-us
		#pie-pagina
