doctype html
html(lang="en")
	head
		title jade
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="assets/css/main.css")
		link(rel="stylesheet", href="assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/css/._font-awesome.css")

<<<<<<< .merge_file_a02864
		script(src="js/jquery-1.12.3.min.js")
		script(src="js/bootstrap.min.js")
	body
=======
		script(src="assets/js/jquery-1.12.3.min.js")
  		script(src="assets/js/bootstrap.min.js")
  	body
>>>>>>> .merge_file_a02544
		#hero-section
		#services
		#portafolio
		#about
			#parte1
			#parte2
		#amazing-team
			.container
				
		#contact-us
		#pie-pagina
