doctype html
html(lang="en")
	head
		title jade
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="assets/css/main.css")
		link(rel="stylesheet", href="assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/css/._font-awesome.css")

	Head
		script(src="assets/js/jquery-1.12.3.min.js")
		script(src="assets/js/bootstrap.min.js")
	body
		#services
		.fondo-portfolio
			#portafolio.container.text-center.portafolio
				h2
					b PORTFOLIO
				p  
					em Lorem ipsum dolor sit amet consectetur,
				.row
					.col-sm-6.col-md-4
						.thumbnail
							img(src="img/portfolio/roundicons.png") 
							.caption
								h5
									b Round Icons 
								small
									em Graphic Desing
					.col-sm-6.col-md-4
						.thumbnail
							img(src="img/portfolio/startup-framework.png") 
							.caption
								h5 
									b Startup Framework 
								small
									em Website Desing
					.col-sm-6.col-md-4
						.thumbnail
							img(src="img/portfolio/treehouse.png") 
							.caption
								h5 
									b Treehouse 
								small
									em Website Desing
				.row
					.col-sm-6.col-md-4
						.thumbnail
							img(src="img/portfolio/golden.png") 
							.caption
								h5 
									b Golden 
								small
									em Website Desing
					.col-sm-6.col-md-4
						.thumbnail
							img(src="img/portfolio/escape.png") 
							.caption
								h5 
									b Escape 
								small
									em Website Desing
					.col-sm-6.col-md-4
						.thumbnail
							img(src="img/portfolio/dreams.png") 
							.caption
								h5 
									b Dreams
								small
									em Website Desin

		#about
			h1 ABOUT
			P Lorem
			.container
				.row
					.col-sm-5
					.col-sm-2
					.col-sam-5
		#amazing-team
			.container
				
		#contact-us
		#pie-pagina
